.hidden {
  display: none !important;
}

.container {
  max-width: 575px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-alwayshalf {
  width: 50%;
}

.column-full,
.column-half {
  width: 100%;
}

.justifyright {
  display: flex;
  justify-content: flex-end;
}

.justifycenter {
  display: flex;
  justify-content: center;
}

.aligncenter {
  display: flex;
  align-items: center;
}

a#new {
  padding: 3% 5%;
  border-radius: 10%;
}

button {
  padding: 2% 4%;
  border-radius: 10%;
  margin-bottom: 3%;
}

i {
  margin-top: 19.92px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
  }

  .column-alwayshalf,
  .column-full,
  .column-half {
    padding: 0 0.75rem;
  }

  .column-half {
    width: 50%;
  }

  h2.alignwithimg {
    margin-bottom: 0;
  }

  .alignwithimg {
    margin-top: 0;
  }

  a#new {
    padding: 2% 3%;
  }

  button {
    padding: 1% 2%;
  }
}
