* {
  letter-spacing: 1px;
}

.prozo {
  font-family: "Proza Libre", sans-serif;
}

.opensans {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #552b81;
  color: white;
  font-size: 1.2rem;
  font-weight: 100;
}

body {
  background-color: #f0f0f0;
}

img {
  width: 100%;
}

a#new,
button#submit {
  background-color: #552b81;
  color: white;
}

textarea#notes,
input#title,
input#photolink {
  width: 100%;
  padding: 3% 2%;
  margin-bottom: 3%;
  resize: none;
}

h3 {
  margin-bottom: 2%;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  margin-bottom: 5%;
}

a#entries {
  font-size: smaller;
  padding: 0 2%;
}

i {
  color: #552b81;
  font-size: 30px;
}

button#delete {
  color: #dc2625;
  text-decoration: underline;
  border-style: none;
}

button#confirm {
  background-color: #dc2625;
  color: white;
  border-style: none;
  font-size: 15px;
}

button#cancel {
  background-color: #b6b6b6;
  border-style: none;
  font-size: 15px;
}

#popup {
  background-color: white;
  border-radius: 3%;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.451);
}

button:hover,
i:hover,
a:hover {
  cursor: pointer;
  text-decoration: underline;
}

button#delete:hover {
  text-decoration: underline black;
}
